@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
  margin: auto;
  padding: 2rem;
  width: 80%;
  font-size: 20px;
  font-family: 'Slabo 27px', serif;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 1000%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

@-moz-keyframes Gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

@keyframes Gradient {
	0% { background-position: 0% 50% }
	50% { background-position: 100% 50% }
	100% { background-position: 0% 50% }
}

h1 {
  font-size: 32px;
}

.card {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

a:link, a:visited {
  color: blue;
  text-decoration: none;
}

input[type="text"] {
  height: 30px;
  max-width: 100%;
  min-width: 60%;
  border: 2px solid #ccc;
  border-radius: 0.2rem;
  font-size: 20px;
}

button {
  background-color: #E73C7E;
  color: white;
  border: none;
  margin: 3px;
  font-family: 'Slabo 27px', serif;
  font-size: 27px;
  border-radius: 0.2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

form {
  padding-bottom: 30px;
}

.todo-delete {
  padding-left: 10px;
  color: #EE7752;
}

input[type="radio"] {
  margin-right: 10px;
}
